In [1]:
import pandas as pd
import seaborn as sns

In [2]:
xns = sns.load_dataset('iris')

In [3]:
xns

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
y = xns.iloc[0:150,4]

In [5]:
x = xns.iloc[0:150,0:4]

In [6]:
x = x.values

In [7]:
y = y.values

In [8]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.3)

In [10]:
from sklearn.neighbors import KNeighborsClassifier

In [11]:
knn = KNeighborsClassifier(n_neighbors=3)

In [12]:
knn

KNeighborsClassifier(n_neighbors=3)

In [13]:
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [20]:
y_pred = knn.predict(x_test)

In [21]:
y_test

array(['setosa', 'setosa', 'virginica', 'virginica', 'virginica',
       'setosa', 'setosa', 'virginica', 'virginica', 'setosa', 'setosa',
       'versicolor', 'setosa', 'virginica', 'virginica', 'setosa',
       'virginica', 'versicolor', 'virginica', 'virginica', 'virginica',
       'setosa', 'virginica', 'virginica', 'setosa', 'virginica',
       'virginica', 'versicolor', 'versicolor', 'setosa', 'versicolor',
       'setosa', 'versicolor', 'setosa', 'virginica', 'setosa',
       'versicolor', 'virginica', 'setosa', 'setosa', 'versicolor',
       'versicolor', 'versicolor', 'virginica', 'setosa', 'setosa',
       'versicolor', 'versicolor', 'setosa', 'versicolor', 'setosa',
       'versicolor', 'setosa', 'versicolor', 'virginica', 'versicolor',
       'setosa', 'versicolor', 'setosa', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'virginica', 'virginica', 'setosa',
       'virginica', 'versicolor', 'setosa', 'setosa', 'virginica',
       'setosa', 'virginica', 'setosa', 'virginica', 'versicolor',
       'setosa', 'virginica', 'versicolor', 'versicolor', 'versicolor',
       'virginica', 'versicolor', 'setosa', 'virginica', 'virginica',
       'versicolor', 'virginica', 'versicolor', 'versicolor', 'setosa',
       'versicolor', 'setosa', 'virginica', 'setosa', 'versicolor',
       'setosa', 'setosa', 'versicolor', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'versicolor', 'setosa', 'versicolor',
       'versicolor', 'virginica', 'virginica', 'versicolor', 'versicolor',
       'virginica', 'setosa', 'versicolor', 'setosa', 'versicolor',
       'virginica', 'virginica', 'setosa', 'setosa', 'setosa',
       'versicolor', 'versicolor', 'virginica', 'virginica', 'setosa',
       'setosa', 'virginica', 'versicolor', 'virginica', 'setosa',
       'versicolor', 'setosa', 'versicolor', 'versicolor'], dtype=object)

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
accuracy_score(y_pred, y_test)

0.9555555555555556